.poster {
  width: 200px;
  height: 300px;
  margin-left: 100px;
}

.banner {
  padding-top: 180px;
  margin-left: 100px;
  color: white;
}

.logo-home {
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
