.navbar {
  background-color:black;
  opacity:80%;
  border:gray;
}

.cuerpo {
  background-color: black;
  padding-top:70px;
}

.movlogo >img {
  width:70px;
  height:70px;
}

.login {
  float: right;
  font-size: large;
}

.sidebar >a:hover {color: violet;}
.sidebar >a:active {background:grey;}
.sidebar >a {
  color:azure;
}



.SideTitle {
  border: yellow 5px dotted;
  font-family: monospace;
  text-align: center;
  font-size: 40px;
  color: rgb(233, 198, 0);
  background-color: rgb(36, 33, 83);
}

.SideTitle1 {
  border: yellow 5px dotted;
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  color: rgb(233, 198, 0);
  background-color: rgb(36, 33, 83);
}

.SideRight {
  height: auto;
  border-radius: 3%;
  background: linear-gradient(
    rgb(244, 244, 3),
    rgb(163, 88, 51),
    rgb(208, 74, 59)
  );
}

.card {
  text-align: center;
  border-image-width: 10px;
}

.img1 {
  width: auto;
  height: auto;
}

.recomendadas {
background-image: url("https://img.freepik.com/vector-gratis/tira-carrete-pelicula-hecha-destellos-dorados_1017-36801.jpg?t=st=1652397729~exp=1652398329~hmac=12ebeead47bc55d57b188c19aaa8d28ad6df209b018654379d0f94f18e0a5002&w=1060");
color:rgb(255, 255, 255);
text-align:end
}



.cardPic {
  height:160px;
  width:200px;
  border-style: ridge;
}

.card-img-top{
  height:250px;
  width:200px;
}

.noticias {
  padding-top:5px;
  color:rgb(255, 255, 255);
  background-image: url("../img/Noticias1.jpg");}

.noticias > h1 {
text-align:center;
}
