.navbar {
  color:rgb(255, 255, 255);
  background-color:black;
  opacity:80%;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe; 

}

.cuerpo {
  background-color: rgb(0, 0, 0);
  padding-top:140px;
  height: 100vh;
  width: 100vw;
}

.cuerpohome {
  background-color: black;
  padding-top:70px;
  height: 100%;
  width: 100%
}

.movlogo >img {
  width:70px;
  height:70px;
}

.login {
  float: right;
  font-size: large;
}
.sidebar {
  background-color:rgb(87, 57, 87);
  padding-top:140px;
}
.sidebar >a:hover {color: violet;}
.sidebar >a:focus {color: violet;}
.sidebar >a:active {background:rgb(0, 0, 0);}
.sidebar >a {
  color:rgb(217, 27, 179) (55, 255, 255);

}

.perfil{
  display:flex;
  width:100%;
  height:100%;
  background-color:black;

}

.favoritos {
  padding-top:70px;
  background:black;
  opacity:90%;
}

.form-container-signup{
  color:gold;
}


.misdatos {
  padding-top:140px;
}
.modal-backdrop{
  position: relative; 
 }

.SideTitle {
  border: yellow 5px dotted;
  font-family: monospace;
  text-align: center;
  font-size: 40px;
  color: rgb(233, 198, 0);
  background-color: rgb(36, 33, 83);
}

.SideTitle1 {
  border: yellow 5px dotted;
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  color: rgb(233, 198, 0);
  background-color: rgb(36, 33, 83);
}

.SideRight {
  height: auto;
  border-radius: 3%;
  background: linear-gradient(
    rgb(250, 238, 3),
    rgb(237, 60, 184),
    rgb(22, 21, 21)
  );
}

.card {
  text-align: center;
  border-image-width: 10px;
}

.img1 {
  width: auto;
  height: auto;
}

.recomendadas {
background-image: url("https://img.freepik.com/vector-gratis/tira-carrete-pelicula-hecha-destellos-dorados_1017-36801.jpg?t=st=1652397729~exp=1652398329~hmac=12ebeead47bc55d57b188c19aaa8d28ad6df209b018654379d0f94f18e0a5002&w=1060");
color:rgb(255, 255, 255);
text-align:end
}



.cardPic {
  height:160px;
  width:200px;
  border-style: ridge;
}

.card-img-top{
  height:250px;
  width:200px;
}

.noticias {
  padding-top:5px;
  color:rgb(22, 21, 21);
  background-color: black;
  border-radius: 5%;
}

.noticias > h1 {
text-align:center;
color:lightgoldenrodyellow
}

