.navbar {
  color: rgb(255, 255, 255);
  background-color: black;
  opacity: 80%;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.cuerpo {
  background-color: rgb(0, 0, 0);
  padding-top: 140px;
  margin: auto;
  /* height: 100vh;
  width: 100vw; */
}

.cardResults {
  max-width: 300px;
}

.configuracion {
  padding-top: 140px;
}

.cuerpohome {
  background-color: black;
  padding-top: 70px;
  height: 100%;
  width: 100%;
}

.editardatos {
  padding-top: 140px;
}

.movlogo > img {
  width: 70px;
  height: 70px;
}

.login {
  float: right;
  font-size: large;
}
.sidebar {
  background-color: rgb(87, 57, 87);
  padding-top: 140px;
}
.sidebar > a:hover {
  color: violet;
}
.sidebar > a:focus {
  color: violet;
}
.sidebar > a:active {
  background: rgb(0, 0, 0);
}
.sidebar > a {
  color: rgb(217, 27, 179) (55, 255, 255);
}

.perfil {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
}

.favoritos {
  padding-top: 70px;
  background: black;
  opacity: 90%;
}

.form-container-signup {
  color: gold;
}

.misdatos {
  padding-top: 140px;
}
.modal-backdrop {
  position: relative;
}

.SideTitle {
  border: yellow 5px dotted;
  font-family: monospace;
  text-align: center;
  font-size: 40px;
  color: rgb(233, 198, 0);
  background-color: rgb(36, 33, 83);
}

.SideTitle1 {
  border: yellow 5px dotted;
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  color: rgb(233, 198, 0);
  background-color: rgb(36, 33, 83);
}

.SideRight {
  height: auto;
  border-radius: 3%;
  background: linear-gradient(
    rgb(250, 238, 3),
    rgb(237, 60, 184),
    rgb(22, 21, 21)
  );
}

.card {
  text-align: center;
  border-image-width: 10px;
}

.img1 {
  width: auto;
  height: auto;
}

.cardPic {
  height: 160px;
  width: 200px;
  border-style: ridge;
}

.card-img-top {
  height: 250px;
  width: 200px;
}

.noticias {
  padding-top: 5px;
  color: rgb(22, 21, 21);
  background-color: black;
  border-radius: 5%;
}

.noticias > h1 {
  text-align: center;
  color: lightgoldenrodyellow;
}

.milista {
  padding-top: 20px;
  transition: 2s;
  opacity: 90%;
  background-color: black;
  color: gainsboro;
}

.milista:hover {
  opacity: 100%;
  background-color: rgb(238, 238, 27);
  color: black;
}

.cont-lista {
  margin-top: 60px;
}

.cont-lista:hover {
  opacity: 80%;
}

.Rating {
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 0.85em;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 2em;
  line-height: 1.2;
  color: #ddd;
  text-shadow: 1px 1px #bbb, 2px 2px #666, 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.rating:not(:checked) > label:before {
  content: "★ ";
}

.rating > input:checked ~ label {
  color: #f70;
  text-shadow: 1px 1px #c60, 2px 2px #940, 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod, 2px 2px #b57340,
    1px 1px 2px rgba(0, 0, 0, 0.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod, 2px 2px #b57340,
    1px 1px 2px rgba(0, 0, 0, 0.5);
}

.dato-config {
  color: gold;
  background-color: rgb(66, 72, 78);
  text-align: start;
}

.rating {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
